@tailwind base;
@tailwind components;
@tailwind utilities;


/* .js-plotly-plot{
    display: flex;
    flex-direction: column;
} */
.js-plotly-plot .plotly .modebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.modebar-btn{
    font-size: 30px !important;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.js-plotly-plot{
    display: flex;
    flex-direction: column;
}

